<div class="dice-infos">

  {{#if (eq roll.game 'yzesrd-vtt')}}
    {{#if (gt roll.options.damage 0)}}
        <div class="roll-damage">
          <span class="label">{{localize "yzesrdvtt.damage"}}: </span>
          <span class ="result">{{roll.options.damage}}</span>
        </div>
    {{/if}}
  {{/if}}
</div>