<div class="bio-section">
  <div class="bio-group">
    <label>Arquétipo</label>
    <input type="text" name="system.details.archetype" value="{{system.details.archetype}}">
  </div>
  
  <div class="bio-editor">
    <label>Resumo / Biografia</label>
    {{editor system.details.biography target="system.details.biography" button=true owner=owner editable=true}}
  </div>
</div>
