<header class="sheet-header">
    <img class="profile-img" src="{{document.img}}" data-edit="img" title="{{document.name}}" height="100" width="100"/>
    <div class="header-details">
        <h1 class="charname">
            <input name="name" type="text" value="{{document.name}}" placeholder="Nome"/>
        </h1>
        <div class="archetype">
            <input name="system.details.archetype" type="text" value="{{system.details.archetype}}" placeholder="Arquétipo"/>
        </div>
    </div>
</header>
